$font-stack: Helvetica, sans-serif
$primary-color: #333

body
  margin: 0
  padding: 0
  box-sizing: border-box
  font: 100% $font-stack
  color: $primary-color

.containers
  display: flex
  justify-content: center
  padding: 100px

.dx-toolbar-items-container
  background-color: #2a0150f7 !important
  padding: 30px

