$font-stack: Helvetica, sans-serif
$primary-color: #333

body
  margin: 0
  padding: 0
  box-sizing: border-box
  font: 100% $font-stack
  color: $primary-color

.containers
  height: 90vh
  display: flex
  justify-content: center
  padding: 60px

#employees 
	tbody
		 tr 
		  line-height: 0 !important
		  padding: 0
			td
				line-height: 0 !important
				padding: 0 
	> div
		line-height: 0
		padding: 0
.dx-toolbar-items-container
  padding: 30px

.dx-row.dx-data-row.dx-row-lines.dx-column-lines
  background: #baadc626
  font-size: 15px

.btn
	position: absolute !important
  top: 70px !important
	margin-top: 11px
	background: white
	color: #ffff
	border-radius: 30px
	font-size: 25px
	margin-left: 100px
	color: #041636
	font-size: 20px
	transition: border-bottom 0.5s ease
	display: flex
	justify-content: center
	align-items: center
	border-radius: 20px
	position: relative
	overflow: hidden
	transition: all .5s
	&:hover
		z-index: 22
		a
			color: #fff
	&:hover
		&::before
			top: 0px
			left: 0px
	&::before
		content: ''
		position: absolute
		margin: auto
		width: 100%
		height: 100%
		top: 0%
		left: -30%
		background: -webkit-linear-gradient(left, #7579ff, #b224ef)
		transition: all .5s
		z-index: -1
		border-radius: 20px
	a
		text-decoration: auto
		font-weight: 600
		font-family: inherit
		padding: 17px 100px

.dx-editor-cell
	text-align: center !important
.dx-row.dx-freespace-row.dx-column-lines 
	height: 24px !important
.dx-row.dx-data-row.dx-row-lines.dx-column-lines
	height: 24px !important
.dx-treelist-rowsview .dx-texteditor-input
	padding: 0 !important
	min-height: 24px !important
.dx-placeholder
	&::before
      padding: 0px 32px 0px !important
.dx-treelist-text-content
	line-height: 1 !important
	padding-top: 3px