*
	margin: 0
	padding: 0
	box-sizing: border-box
	line-height: 2
body
	font-family: Verdana, Geneva, Tahoma, sans-serif
.dx-toolbar-items-container
	background-color: #fff
.App
	text-align: center
.main-container
	margin: auto
	height: 90vh
	color: aliceblue
	display: flex
	justify-content: center
	align-items: center
	background-color: #2a0150f7 !important
	
.btnContent
	text-align: center
	height: 90%
	width: 65%
	display: flex
	justify-content: start
	align-items: center
	background-image: url('./assets/image/bg.png')
	background-repeat: no-repeat
	background-size: cover
	border-radius: 60px
	box-shadow: 7px 9px 39px 2px #282020
	top: 70px

